<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="slider-wrapper">
        <div class="bottom_line">
            <div class="first_bottom">
                <img class="bottom_img" th:src="@{/img/movie.png}" alt="movie">
            </div>
            <div class="bottom_market">
                <a href="https://apps.apple.com/ru/app/кинополис/id1561108665" target="_blank">
                    <img th:src="@{/img/markets/apple.png}" alt="apple">
                </a>
                <a href="https://play.google.com/store/apps/details?id=ru.kinoplan.cinema.kinopolis" target="_blank">
                    <img th:src="@{/img/markets/play.png}" alt="google">
                </a>
            </div>
        </div>
        <div class="dbl_bottom_line">
            <div class="first_bottom bottom_down">
                <div>Способы оплаты</div>
                <div class="bottom_down">
                    <img class="small_cards" th:src="@{/img/cards/visa.png}" alt="visa">
                    <img class="small_cards" th:src="@{/img/cards/master.png}" alt="master">
                    <img class="small_cards" th:src="@{/img/cards/maestro.png}" alt="maestro">
                    <img class="big_cards" th:src="@{/img/cards/mir.png}" alt="mir">
                    <img class="big_cards" th:src="@{/img/cards/sbp.png}" alt="sbp">
                    <img class="big_cards" th:src="@{/img/cards/sber.png}" alt="sber">
                </div>
            </div>
            <div>
                <div class="bottom_down">Социальные сети:</div>
                <div class="bottom_down">
                    <a href="https://vk.com/" target="_blank">
                        <img class="small_cards" th:src="@{/img/cards/vk.png}" alt="sber">
                    </a>
                </div>
            </div>
            <div>
                <div class="bottom_down">Контакты:</div>
                <div class="bottom_down">Санкт-Петербург, проспект Просвещения, 80/1
                </div>
                <div class="bottom_down">Время работы:</div>
                <div class="bottom_down">Ежедневно с 10:00 до 02:00</div>
            </div>
        </div>
    </div>
</div>